<head>
  <link rel="icon" href="img/icon.jpg" type = "image/gif">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Azriel</title>
  <!-- Font Awesome -->
  <!-- <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> -->
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">

  <style>
    body{
      font-family: monospace;
    }
  </style>
</head>

<body>
  <!-- Default form register -->
  <div class="flex-row justify-content-center">
    <div class="text-center mb-3 mt-1">

            <img src="img/hack19.png" class="col-2">
        </div>
    <form class="text-center hoverable p-5 col-lg-4 m-auto mb-2 col-sm-7" action="#!">
    <!-- 272343 -->
      <p class="h4 mb-4 text-dark font-weight-bold">Sign up</p>
    
      <div class="form-row mb-4">
          <div class="col">
              <!-- First name -->
              <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
          </div>
          <div class="col">
              <!-- Last name -->
              <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
          </div>
      </div>
    
      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    
      <!-- Password -->
      <input type="password" id="pass" class="form-control mb-2" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <input type="password" id="confirmpass" class="form-control mb-4" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    
      <!-- Phone number -->
      <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    
    
      <!-- Sign up button -->
      <button class="btn btn-dark mt-4 mb-2 btn-block" type="submit">Sign up</button>
      <p>Sign up on <em>Azriel</em></p>
    </form>
  </div>
<!-- Default form register -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
