        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Azriel / Profile Page
        </h1>

        <div id="options">
            <a href="./user_revision">
                Revision
            </a>
            <a href="./user_practice">
                Practice
            </a>
            <a href="./user_challenge">
                Challenge
            </a>
        </div>

        <p><%= user.first_name %></p>
        <p><%= user.email %></p>
